.container {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
    padding-top: 50px;
}

#title {
    font-size: 100px;
    vertical-align: middle;
    display: inline-block;
}

nav {
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
}

.nav-bar {
    display: inline-block;
    padding: 0px 20px;
    font-family: Helvetica;
    color: antiquewhite;
    text-decoration: antiquewhite
}

a {
    color: antiquewhite;
    text-decoration: antiquewhite;
}

footer {
    background-color: cornflowerblue;
}

#footer {
    font-family: Helvetica;
    color: khaki;
    font-size: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

.bottom-links {
    font-family: Helvetica;
    color: antiquewhite;

}