.container {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
    padding-top: 50px;
}

#title {
    font-size: 100px;
    vertical-align: middle;
    display: inline-block;
}

nav {
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
}

.nav-bar {
    display: inline-block;
    padding: 0px 20px;
    font-family: Helvetica;
    color: antiquewhite;
    text-decoration: antiquewhite;
    overflow: hidden;
    float: left;
}

a {
    color: antiquewhite;
    text-decoration: antiquewhite;
}

a:hover {
    color:black;
}



footer {
    background-color: cornflowerblue;
}

#footer {
    font-family: Helvetica;
    color: khaki;
    font-size: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

.bottom-links {
    font-family: Helvetica;
    color: antiquewhite;

}

#brush-title {
    background-color: mediumspringgreen;
}

.product-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product-subtitle {
    font-family: Helvetica;
    font-weight: bold;
}

.product-description {
    font-family: Helvetica;
}

.price {
    font-weight: bold;
    color: blue;
}

#frames-title {
    background-color: lightcoral;
}

#paint-title {
    background-color: skyblue;
}

#main-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.homepage-title {
    text-align: center;
    font-family: Helvetica;
    font-size: 60px;
}

.welcome-message {
    font-family: Helvetica;
    color: black;
    text-align: center;
    background-color: darkkhaki;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.label {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
}

.contact-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#customer-name {
    width: 50%;
}

#customer-email {
    width: 50%;
}

#customer-message {
    width: 50%;
}

#submit-button {
    font-family: Helvetica;
    color: antiquewhite;
    background-color: cornflowerblue;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

#submit-button:hover {
    color: khaki;
}