body {
    background-color: #ffebcd;
}

.container {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: #281c14;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
    padding-top: 50px;
}

#title {
    font-size: 100px;
    vertical-align: middle;
    display: inline-block;
}

nav {
    background-color: #14401c;
    position: fixed;
    width: 100%;
}

.nav-bar {
    display: inline-block;
    padding: 0px 20px;
    font-family: Helvetica;
    color: antiquewhite;
    text-decoration: antiquewhite;
    overflow: hidden;
    vertical-align: middle;
}

a {
    color: antiquewhite;
    text-decoration: antiquewhite;
    font-weight: bold;
}

a:hover {
    color:#ffebcd;
}



footer {
    background-color: #14401c;
    padding-top: 5px;
    margin-top: 20px;
}

#footer {
    font-family: Helvetica;
    color: #ffebcd;
    font-size: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

.bottom-links {
    font-family: Helvetica;
    color: #ffebcd;

}

#brush-title {
    background-color: #f0b6a9;
}

.product-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: #ffebcd;
}

.product-subtitle {
    font-family: Helvetica;
    font-weight: bold;
}

.product-description {
    font-family: Helvetica;
}

.price {
    font-weight: bold;
    color: #14401c;
}

#frames-title {
    background-color: #e63d00;
}

#paint-title {
    background-color: #ffa500;
}

#main-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.homepage-title {
    text-align: center;
    font-family: Helvetica;
    font-size: 60px;
    color: #ffebcd;
}

.welcome-message {
    font-family: Helvetica;
    color: black;
    text-align: center;
    background-color: #ffebcd;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.label {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    color: #ffebcd;
}

.contact-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

#customer-name {
    width: 100%;
    border-radius: 5px;
    height: 25px;
    border-width: 3px;
    border-color: #14401c;
}

#customer-email {
    width: 100%;
    border-radius: 5px;
    height: 25px;
    border-width: 3px;
    border-color: #14401c;
}

#customer-message {
    width: 100%;
    border-radius: 5px;
    border-width: 3px;
    border-color: #14401c;
}

#submit-button {
    font-family: Helvetica;
    color: #ffebcd;
    background-color: #14401c;
    height: 40px;
    width: 120px;
    font-size: 17px;
    font-weight: normal;
    border-radius: 10px;
}

#submit-button:hover {
    color: khaki;
    background-color: #103116;
    font-weight: bold;
}

#rec-email-format {
    font-size: 25px;
    font-weight: normal;
    float: left;
}

#receive-emails {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
