.container {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
    max-height: 150px;
}

#title {
    font-size: 100px;
}

#brush-title {
    background-color: mediumspringgreen;
}

.product-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product-subtitle {
    font-family: Helvetica;
    font-weight: bold;
}

.product-description {
    font-family: Helvetica;
}

.price {
    font-weight: bold;
    color: blue;
}